.HeaderSubA {
  color: rgb(52, 58, 64);
  display: flex;
  height: 3rem;
  font-weight: bold;
  font-size: 1.125rem;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  width: 7rem;

  img {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}
